* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Utility classes */
.main-content {
  max-width: 120rem;
  padding: 2rem;
  margin: 0 auto;
}
/* Utility classes */

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  overflow-x: hidden;
}

section.bgc-scroll {
  background: url("../img/bg01.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

section.lorem {
  width: 100vw;
  height: 100vh;
}

p {
  margin: 2rem 0
}
