@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Fira+Sans+Condensed:ital@0;1&family=Hedvig+Letters+Serif:opsz@12..24&family=Kurale&family=Lato:ital,wght@0,700;1,700&family=Nanum+Gothic&family=Playpen+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,800&family=Roboto+Slab:wght@500&family=Ubuntu:ital,wght@0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Utility classes */
.main-content {
  max-width: 120rem;
  padding: 2rem;
  margin: 0 auto;
}

.fade-in-top {
	-webkit-animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* Utility classes */

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  overflow-x: hidden;
}

section.bgc-scroll {
  background: url("../img/bg01.jpg");
  min-width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

h1.name-project {
  margin: 0;
  font-size: 4em;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  font-family: 'Hedvig Letters Serif', serif;
  font-style: italic;
  font-weight: lighter;
  color: #2b2b2b;
}

section.lorem {
  width: 100vw;
  height: 100vh;
}

p {
  margin: 2rem 0
}

/* KeyFrames */
 @-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
