* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  overflow: hidden;
}

img {
  background-image: url("../img/bg01.jpg");
}
